<div [formGroup]="projectForm">
	<div class="form-group row">
		<label for="name" class="col-2 col-form-label">Project Name</label>
		<div class="col-10">
			<input type="text"
							class="form-control"
							id="name"
							required
							name="name"													
							formControlName="name"
			>
		</div>
	</div>
	<div [hidden]="projectForm.controls.name.pristine || projectForm.controls.name.valid" class="alert alert-danger">
			Project name is required
	</div>

	<!--<div formArrayName="tasks">
		<div *ngFor="let task of projectForm.controls.tasks.controls; let i=index" class="panel panel-default">		
			<task [taskgroup]="projectForm.controls.tasks.controls"></task>			
		</div>
	</div>-->
</div>

<hr />	
	